[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
user=mysql
symbolic-links=0
innodb_buffer_pool_size=20M
key_buffer_size = 512M
max_connections=500
max_heap_table_size=24M
max_user_connections=50
max_allowed_packet = 500M
open_files_limit=5000
query_cache_size=8M
thread_cache_size=4
tmp_table_size=40M
wait_timeout=300
interactive_timeout=300
long_query_time=5
#log-queries-not-using-indexes
#log-slow-queries=/var/log/mysql/log-slow-queries.log
sql-mode=NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION
explicit_defaults_for_timestamp=1


join_buffer_size = 64M
sort_buffer_size = 32M
read_rnd_buffer_size = 32M

#innodb_use_native_aio = 0
innodb_large_prefix=true
innodb_file_format=barracuda
innodb_file_per_table=true

query_cache_limit = 32M
query_cache_size = 64M
query_cache_type = 1

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
